*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 100%;
}

:root {
    font-size: 16px;
    --white-color: #FFFFFF;
    --try-color: #3eec98;
    --primary-color: #5ac3e0;
    --secundary-color: #b26eee;
}

.link {
    text-decoration: none;
}

h2 {
    font-weight: bold;
    margin: 0 0 10px 10px;
    font-size: larger;
}

.navbar {
    background-color: var(--secundary-color);
    display: flex;
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;
}

.navbar .link{
    color: #7819cb;
    font-weight: bold;
    font-family: Calibri;
    padding: 10px;
}

.navbar img.logo {
    width: 15%;
    max-width: 100px;
}

.navbar .menu {
    display: none;
}

.header, .myself, .formulario {
    background-color: var(--primary-color);
}


.header .container .img-header {
    padding: 10px 0 10px 0;
    width: 100%;
}

.header .container {
    display: flex;
    align-content: center;
    justify-content: center;
}

.myself .info {
    font-family: Calibri;
    color: #0b7492;
}

.myself .info .info-title {
    font-weight: bold;
    margin: 0 0 10px 10px;
    font-size: larger;
}

.myself .info .info-text {
    text-align: justify;
    margin: 0 10px 10px 10px;
}

.info-text b { 
    font-weight: bold; 
}

.myself .fav-swords {
    margin: 0 10px 10px 10px;
    font-family: Calibri;
    color: #0b7492;
}

.myself .fav-swords .swords-title {
    font-weight: bold;
    font-size: larger;
}

*{box-sizing: border-box}

.espada {
  width: 100%; 
  background-color: var(--white-color);
}

.fav-swords p {
  text-align: left; 
  padding-top: 10px;
  margin-bottom: 10px; 
  color: #0b7492;
}

.espada-dorada {
    width: 60%; 
    background-color: var(--secundary-color);
    padding-left: 10px;
} 
.espada-sangre {
    width: 40%; 
    background-color: var(--secundary-color);
    padding-left: 10px;
} 

.espada-hierba {
    width: 80%; background-color: var(--secundary-color);
    padding-left: 10px;
} 

.espada-finn {
    width: 100%; 
    background-color: var(--secundary-color);
    padding-left: 10px;
} 

.formulario {
    font-family: Calibri;
    color: #0b7492;
}

.formulario .pregunta-form, .opcion, .pregunta-final, .boton-enviar {
    margin: 10px 0 10px 10px;
}

.pregunta-final {
    font-weight: bold;
}

.pregunta, .respuesta {
    margin: 10px 0 10px 0;
}

@media screen and (min-width: 450px) {
    .navbar .menu {
        display: flex;
    }

    .header .container {
        display: flex;
        align-content: center;
        justify-content: center;
    }
    .header .container .img-header {
        width: 80%;
    }
}

@media screen and (min-width: 992px) {
    .navbar .menu .link {
        transition: color 0.3s linear;
    }
    .navbar .menu .link:hover {
        color: var(--white-color);
    }
    
}